<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-wm-callrecord"
        version="0.1.0">

  <name>wm-callrecord</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
      <uses-permission android:name="android.permission.READ_CALL_LOG" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
      <uses-permission android:name="android.permission.READ_CONTACTS" />
      <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
      <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
      <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />      
    </config-file>

    <asset src="www/callrecord.js" target="js/callrecord.js"/>

    <js-module src="www/callrecord.js" name="callrecord">
      <merges target="cordova.plugins.callrecord" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Callrecord">
          <param name="android-package" value="com.example.plugin.Callrecord"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <service android:name="com.callrecord.services.RecordingService" />

        <service android:name="com.callrecord.services.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/accessibility_service_label">
            <intent-filter android:priority="1000">
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                       android:resource="@xml/accessibility_service_config" />
        </service>    

        <receiver android:name="com.callrecord.services.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.callrecord.services.OnUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.callrecord.services.OnExternalReceiver">
            <intent-filter>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>
        
      </config-file>

    <source-file src="src/android/com/callrecord/services/RecordingService.java" target-dir="src/com/callrecord/services"/>
    <source-file src="src/android/com/callrecord/services/MyAccessibilityService.java" target-dir="src/com/callrecord/services"/>
    <source-file src="src/android/com/callrecord/services/OnBootReceiver.java" target-dir="src/com/callrecord/services"/>
    <source-file src="src/android/com/callrecord/services/OnUpgradeReceiver.java" target-dir="src/com/callrecord/services"/>
    <source-file src="src/android/com/callrecord/services/OnExternalReceiver.java" target-dir="src/com/callrecord/services"/>

    <source-file src="src/android/com/callrecord/app/Storage.java" target-dir="src/com/callrecord/app"/>

    <source-file src="src/android/com/callrecord/xml/accessibility_service_config.xml" target-dir="src/main/res/xml"/>
    <source-file src="src/android/com/callrecord/drawable/ic_call_black_24dp.xml" target-dir="src/main/res/drawable"/>
    <source-file src="src/android/Callrecord.java" target-dir="src/com/example/plugin/"/>

    <config-file target="res/values/strings.xml" parent="/*">
    <string name="accessibility_service_label">WM-Call Recording Service</string>
    <string name="accessibility_service_desc">WM-Call Recording Service</string>
    </config-file> 

  </platform>
</plugin>